<form [formGroup]="environmentForm">
  <label class="aTitle">Select platform for environment creation</label>
  <br /><br />
  <div class="card-pd">
    <div class=" container-fluid container-cards-pf" id="card-container">
      <div class="wizard-pf-contents">
        <div class="wizard-pf-process blank-slate-pf">
          <div class="container-fluid container-cards-pf">
            <div class="row row-cards-pf" style="margin-top:-25px">
              <div style="margin-top:-10px">
                <mat-radio-group
                  class="rTitle"
                  formControlName="clusterRadio"
                  (ngModelChange)="setPlatform()"
                >
                  <mat-radio-button value="Openshift"
                    ><img
                      class="icon-css"
                      src="/assets/img/openshift-icon.png"
                      alt=" logo"
                    />&nbsp;Red Hat OpenShift</mat-radio-button
                  >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <mat-radio-button value="Kubernetes"
                    ><img
                      class="icon-css"
                      src="/assets/img/kubernetes-icon.png"
                      alt=" logo"
                    />&nbsp;Kubernetes</mat-radio-button
                  >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <mat-radio-button value="GKE"
                    ><img class="icon-css" src="/assets/img/gke-icon.png" alt=" logo" />&nbsp;Google
                    GKE</mat-radio-button
                  >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <mat-radio-button value="EKS"
                    ><img class="icon-css" src="/assets/img/eks-icon.png" alt=" logo" />&nbsp;Amazon
                    EKS</mat-radio-button
                  >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <mat-radio-button value="AKS"
                    ><img class="icon-css" src="/assets/img/aks-icon.png" alt=" logo" />&nbsp;Azure
                    AKS</mat-radio-button
                  >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </mat-radio-group>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<br />

<br /><br />
<div [hidden]="!showEnvironment">
  <form [formGroup]="clusterForm">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <div formArrayName="envs">
            <table class="environment-table">
              <thead>
                <tr>
                  <th class="required">Environment Category</th>
                  <th>Environment Name</th>
                  <th>Environment Name Suffix</th>
                  <th class="required">Upload Configuration</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let preEnv of clusterForm.get('envs').controls; let i = index"
                  [formGroupName]="i"
                >
                  <!-- <td><input class="unselectable_{{i}}" formControlName="category"></td>-->
                  <td *ngIf="i == '0'">
                    <input class="unselectable" formControlName="category" [readonly]="true" />
                  </td>
                  <td *ngIf="i == 1">
                    <input class="unselectable" formControlName="category" [readonly]="true" />
                  </td>
                  <td *ngIf="i >= 2">
                    <select formControlName="category" (change)="onCategoryChanged($event, i)">
                      <option *ngFor="let category of categoriesList" [value]="category">
                        {{ category }}
                      </option>
                    </select>
                  </td>
                  <td>
                    <input class="unselectable" formControlName="clusterType" [readonly]="true" />
                  </td>
                  <!--<td *ngIf="i=='0'"><input class="unselectable_{{i}}" formControlName="clusterType" [readonly]="true"/></td>
              <td *ngIf="i==1"><input class="unselectable_{{i}}" formControlName="clusterType" [readonly]="true"/></td>
              <td *ngIf="i>=2"><input formControlName="clusterType" [readonly]="true" ></td>-->
                  <td><input type="text" size="16" formControlName="envSuffix" /></td>
                  <td>
                    <label for="files" id="filech" class="file-chooser_{{ i }}"></label>
                    <input
                      id="files"
                      class="envConfigFile"
                      type="file"
                      (change)="onFileChange($event, i)"
                      required
                    />
                  </td>
                  <!-- <td *ngIf="i=='0'"><button class="unselectable" [disabled]="true">Delete</button></td>
              <td *ngIf="i=='1'"><button class="unselectable"  [disabled]="true">Delete</button></td>
              <td *ngIf="i>='2'"><button (click)="deleteEnv(i)">Delete</button></td> -->
                  <td *ngIf="i == '0'"></td>
                  <td *ngIf="i == '1'"></td>
                  <td *ngIf="i >= '2'">
                    <img
                      class="delete-img"
                      (click)="deleteEnv(i)"
                      style="text-align: right; margin-top: 5px;"
                      src="../../../../assets/img/delete.svg"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div>
          <button class="btn env-primary primary-action" type="button" (click)="addEnv()">
            Add Environment
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<br />
<div>
  <label>Select the configurations for platform softwares:</label><br />
  <div>
  Upload Software Configurations:
</div>
  <br/> 
  <div class="row">
    <div class="col-sm-3">
  <input (change)="excelTojson($event)" id="files" class="envUpdatedTemplate" type="file"  />
</div>
<div class="col-sm-3">
  <a
    href="../../../../assets/Software_Configuration_PropertiesList.xlsx"
    download="Software_Configuration_PropertiesList.xlsx"
  >
    Software Configuration Template
  </a>
  </div>
</div>
  <!-- <label for="files" class="envUpdatedTemplate" type="file" (change)="Upload($event)">Upload</label>
  <input type="file" class="envUpdatedTemplate" /> -->
</div>
<!-- <label for="files" id="filech" class="file-chooser_{{ i }}"></label> -->
<!-- <label type="button" for="files" id="filech" class="file-chooser_{{ i }}">
      Upload
    </label> -->

<!-- <button for="files" id="filech" class="file-chooser_{{ rowIndex }}">Upload</button> -->
<!-- <input id="files" type="file" (change)="onFileChange($event, rowIndex)" /> -->
